@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}
:target {
  scroll-margin-top: 5rem;
}

.bg-linkedin {
  background:#0a66c2;
}

@media only screen and (min-width: 768px) {
  :target {
    scroll-margin-top: 6rem;
  }
}
